
MobApp/.idea/.name

Src/API/WebApplication5/Interfaces/bin/Debug/netcoreapp2\.0/Interfaces\.deps\.json

Src/API/WebApplication5/Interfaces/bin/Debug/netcoreapp2\.0/Interfaces\.dll

Src/API/WebApplication5/\.vs/WebApplication5/v15/\.suo

Src/API/WebApplication5/\.vs/WebApplication5/v15/sqlite3/storage\.ide

Src/API/WebApplication5/Interfaces/bin/Debug/netcoreapp2\.0/Interfaces\.pdb

Src/API/WebApplication5/Interfaces/bin/Debug/netcoreapp2\.0/Model\.dll

Src/API/WebApplication5/Interfaces/bin/Debug/netcoreapp2\.0/Model\.pdb

Src/API/WebApplication5/Interfaces/obj/Debug/netcoreapp2\.0/Interfaces\.assets\.cache

Src/API/WebApplication5/Interfaces/obj/Debug/netcoreapp2\.0/Interfaces\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/Interfaces/obj/Debug/netcoreapp2\.0/Interfaces\.csprojResolveAssemblyReference\.cache

Src/API/WebApplication5/Interfaces/obj/Debug/netcoreapp2\.0/Interfaces\.dll

Src/API/WebApplication5/Interfaces/obj/Debug/netcoreapp2\.0/Interfaces\.pdb

Src/API/WebApplication5/Interfaces/obj/Interfaces\.csproj\.nuget\.cache

Src/API/WebApplication5/Interfaces/obj/Interfaces\.csproj\.nuget\.g\.props

Src/API/WebApplication5/Interfaces/obj/Interfaces\.csproj\.nuget\.g\.targets

Src/API/WebApplication5/Interfaces/obj/project\.assets\.json

Src/API/WebApplication5/Model/bin/Debug/netcoreapp2\.0/Model\.deps\.json

Src/API/WebApplication5/Model/bin/Debug/netcoreapp2\.0/Model\.dll

Src/API/WebApplication5/Model/bin/Debug/netcoreapp2\.0/Model\.pdb

Src/API/WebApplication5/Model/obj/Debug/netcoreapp2\.0/Model\.assets\.cache

Src/API/WebApplication5/Model/obj/Debug/netcoreapp2\.0/Model\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/Model/obj/Debug/netcoreapp2\.0/Model\.dll

Src/API/WebApplication5/Model/obj/Debug/netcoreapp2\.0/Model\.pdb

Src/API/WebApplication5/Model/obj/Model\.csproj\.nuget\.cache

Src/API/WebApplication5/Model/obj/Model\.csproj\.nuget\.g\.props

Src/API/WebApplication5/Model/obj/Model\.csproj\.nuget\.g\.targets

Src/API/WebApplication5/Model/obj/project\.assets\.json

Src/API/WebApplication5/RepositoryLayer/bin/Debug/netcoreapp2\.0/Model\.dll

Src/API/WebApplication5/RepositoryLayer/bin/Debug/netcoreapp2\.0/Model\.pdb

Src/API/WebApplication5/RepositoryLayer/bin/Debug/netcoreapp2\.0/RepositoryLayer\.deps\.json

Src/API/WebApplication5/RepositoryLayer/bin/Debug/netcoreapp2\.0/RepositoryLayer\.dll

Src/API/WebApplication5/RepositoryLayer/bin/Debug/netcoreapp2\.0/RepositoryLayer\.pdb

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.assets\.cache

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.csproj\.FileListAbsolute\.txt

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.csprojResolveAssemblyReference\.cache

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.dll

Src/API/WebApplication5/RepositoryLayer/obj/Debug/netcoreapp2\.0/RepositoryLayer\.pdb

Src/API/WebApplication5/RepositoryLayer/obj/project\.assets\.json

Src/API/WebApplication5/RepositoryLayer/obj/RepositoryLayer\.csproj\.nuget\.cache

Src/API/WebApplication5/RepositoryLayer/obj/RepositoryLayer\.csproj\.nuget\.g\.props

Src/API/WebApplication5/RepositoryLayer/obj/RepositoryLayer\.csproj\.nuget\.g\.targets

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/Interfaces\.dll

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/Interfaces\.pdb

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/Model\.dll

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/Model\.pdb

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/RepositoryLayer\.dll

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/RepositoryLayer\.pdb

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/ServiceLayer\.deps\.json

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/ServiceLayer\.dll

Src/API/WebApplication5/ServiceLayer/bin/Debug/netcoreapp2\.0/ServiceLayer\.pdb

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.assets\.cache

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.csproj\.FileListAbsolute\.txt

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.csprojResolveAssemblyReference\.cache

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.dll

Src/API/WebApplication5/ServiceLayer/obj/Debug/netcoreapp2\.0/ServiceLayer\.pdb

Src/API/WebApplication5/ServiceLayer/obj/project\.assets\.json

Src/API/WebApplication5/ServiceLayer/obj/ServiceLayer\.csproj\.nuget\.cache

Src/API/WebApplication5/ServiceLayer/obj/ServiceLayer\.csproj\.nuget\.g\.props

Src/API/WebApplication5/ServiceLayer/obj/ServiceLayer\.csproj\.nuget\.g\.targets

Src/API/WebApplication5/viewmodels/obj/Debug/netcoreapp2\.0/viewmodels\.assets\.cache

Src/API/WebApplication5/viewmodels/obj/Debug/netcoreapp2\.0/viewmodels\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/viewmodels/obj/project\.assets\.json

Src/API/WebApplication5/viewmodels/obj/viewmodels\.csproj\.nuget\.cache

Src/API/WebApplication5/viewmodels/obj/viewmodels\.csproj\.nuget\.g\.props

Src/API/WebApplication5/viewmodels/obj/viewmodels\.csproj\.nuget\.g\.targets

Src/API/WebApplication5/WebApplication5/obj/Debug/netcoreapp2\.0/WebApplication5\.assets\.cache

Src/API/WebApplication5/WebApplication5/obj/Debug/netcoreapp2\.0/WebApplication5\.csproj\.CoreCompileInputs\.cache

Src/API/WebApplication5/WebApplication5/obj/Debug/netcoreapp2\.0/WebApplication5\.csprojResolveAssemblyReference\.cache

Src/API/WebApplication5/WebApplication5/obj/project\.assets\.json

Src/API/WebApplication5/WebApplication5/obj/WebApplication5\.csproj\.nuget\.cache

Src/API/WebApplication5/WebApplication5/obj/WebApplication5\.csproj\.nuget\.g\.props

Src/API/WebApplication5/WebApplication5/obj/WebApplication5\.csproj\.nuget\.g\.targets
