<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Bestaande regios</h2>
      <div class="table-wrapper-scroll-y" *ngIf="regios">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">naam</th>
              <th scope="col">tijd</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let regio of regios">
              <th scope="row">{{regio.naam}}</th>
              <td>{{regio.plaats}}</td>
              <td>{{regio.tijd}}</td>
            </tr>                                        
          </tbody>
        </table>
        </div>
    </div>
    <div class="col">
        <h2>Create Game</h2>
        <form class="text-center border border-light p-5">
            <label for="name">Naam spel</label>
            <input #name id="name" type="text" class="form-control mb-4" required />
            <label for="city">Locatie/Stad</label>
            <input #city id="city" type="text" class="form-control mb-4" required />
            <label for="timespan">Tijsspan (in uren)</label>
            <input #timespan id="timespan" type="number" min="1" max="6" class="form-control mb-4" required />
            <button class="btn btn-unique" (click)="postRegio(name.value, city.value, timespan.value)">Voeg Game toe</button>
        </form>
    </div>
  </div>
</div>