<div class="container">
  <div class="row">
    <div class="col">
        <form class="text-center border border-light p-5">
            <label for="title"></label>
            <input id="title" type="text" class="form-control mb-4">
            <label for="city"></label>
            <input id="city" type="text" class="form-control mb-4">
            <label for="puzzels"></label>
            <select id="puzzels" class="form-control mb-4">
              <!--gevuld worden met puzzels uit de database-->
            </select>
        </form>
    </div>
    <div class="col">
      hallo
    </div>
  </div>
</div>