<div class="row">
  <div class="col-md-3" style="height:700px">
    <h1>Regio's</h1>
    <div class="table-wrapper-scroll-y">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">naam</th>
              <th scope="col">tijd</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let regio of Regios; let i = index" (click)="RegioSelect(i)">
              <th scope="row">{{regio.id}}</th>
              <td>{{regio.naam}}</td>
              <td>{{regio.tijd}}</td>
            </tr>                                        
          </tbody>
        </table>

      </div>
  </div>


  <div class="col-md-6">  
    <h1>{{ title }}</h1>
    <agm-map *ngIf="Regios" style="height:700px" (mapClick)="clickMap($event)"  [latitude]="lat" [longitude]="lng">
      <agm-marker (markerClick)="markerClicked(marker, i)"
      *ngFor="let marker of Regios[RegioSelected].locaties; let i = index"
      [latitude]="marker.lat"
      [longitude]="marker.lng">
      <agm-info-window><strong>{{marker.locatienaam}}</strong></agm-info-window>
      </agm-marker>
    </agm-map>
  </div>



  <div class="col-md-3"> 
    <h1>Marker settings</h1>
    <div class="md-form">
      Vraag:
      <input type="text" id="form1" class="form-control" [(ngModel)]= Vraag>
      Antwoord:
      <input type="text" id="form1" class="form-control" [(ngModel)]= Antwoord>
      <button type="button" class="btn btn-indigo waves-light" mdbWavesEffect (click)="AddQuestion()">Vraag toevoegen</button>
    </div>

    <div class="table-wrapper-scroll-y" *ngIf="Regios" >
      <table class="table table-bordered table-striped" *ngIf="Regios[RegioSelected].locaties[MarkerIndexSelected].puzzels">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Vraag</th>
            <th scope="col">Antwoord</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vraag of Regios[RegioSelected].locaties[MarkerIndexSelected].puzzels" (click)="deleteVraag(vraag.id)">
            <th scope="row">{{vraag.id}}</th>
            <td>{{vraag.vraag}}</td>
            <td>{{vraag.antwoord}}</td>
          </tr>                                        
        </tbody>
      </table>
    </div>

  </div>
  
</div>

  

  